@model IList<SearchClientWebApp.Models.CustomerBref.GroupSummaryModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>

@using (Html.BeginForm())
{

    <p>
        To quickly find a Client or Group you can...
        Search by name, Customer ID Or GovID :
    </p>
         <p>
        Find by name: @Html.TextBox("SearchStr")
        <input type="submit" id="fullName" value="Search" />

    </p>
}
@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $("#SearchStr").autocomplete({
            source: function(request,response) {
                $.ajax({
                    url: "/DataTable/Search",
                    minLength: 4,
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item, value: item };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>
   <script type="text/javascript">
    $(document).ready( function () {
        $('#myTable').dataTable({
            "paging": false,
        });
} );     </script>

    }

<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
    <p style="position: absolute; top: 30%; left: 45%; color: White;">
        Loading, please wait...<img src="~/Content/themes/base/images/ajax-loading.gif">
    </p>
</div>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                Customer ID
            </th>
            <th>
                Global ID
            </th>

            <th>
                Name
            </th>
                       <th> Mother Name</th>
            @*<th>
         Address
     </th>*@
     
     @*<th> ActiveLoans </th>

    <th> ClosedLoans </th>*@
            <th>GovID</th>
            <th>
                Office
            </th>

            <th>
                link
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CUSTOMER_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GLOBAL_CUST_NUM)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DISPLAY_NAME)
                </td>

<td> @item.MotherName </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.DISPLAY_ADDRESS)
                </td>*@


                <td>
                    @Html.DisplayFor(modelItem => item.GOVERNMENT_ID)
                </td>


                @*<td>
                    @foreach (var item2 in item.accounts)
                    {
                        <p>
                            @item2.ACCOUNT_ID
                        </p>
                    }
                </td>


               <td>
                       @item.ClosedAccounts.Count()
                    </td>*@

                <td>
                    @Html.DisplayFor(modelItem => item.office.DISPLAY_NAME)
                </td>



                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.CUSTOMER_ID }) |

                </td>
            </tr>

        }
    </tbody>

    

</table>


<div>
    @Html.ActionLink("Previous", "Index", new { pageNumber = ViewBag.PageNumber - 1, SearchStr = ViewBag.SearchStr })
    @Html.ActionLink("Next", "Index", new { pageNumber = ViewBag.PageNumber + 1, SearchStr = ViewBag.SearchStr })

</div>
<div>
    @Html.ViewBag.PageNumber
</div>