@model SearchClientWebApp.timesheetpresent


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>timesheetpresent</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <table>
            <tr>
                <th>
                    EmployeeId
                </th>
                <th>
                    CalenderID
                </th>
                <th>
                    IsPresent
                </th>
                <th>
                    FromTime
                </th>
                <th>
                    ToTime
                </th>
                <th>
                    Reason
                </th>
                <th>Note</th>
                <th>Approved</th>

            </tr>
                @foreach (var item in ViewBag.test2)
                {
                    <tr>

                        <td>
                            @Html.DropDownList("employeeID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.employeeID, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.DropDownList("CalenderID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CalenderID, "", new { @class = "text-danger" })
                        </td>

                        <td>
                            @Html.EditorFor(model => model.IsPresent)
                            @Html.ValidationMessageFor(model => model.IsPresent, "", new { @class = "text-danger" })
                        </td>


                        <td>
                            @Html.EditorFor(model => model.FromTime, new { htmlAttributes = new { @class = "form-control", @Value = "08:30" } })
                            @Html.ValidationMessageFor(model => model.FromTime, "", new { @class = "text-danger" })
                        </td>


                        <td>
                            @Html.EditorFor(model => model.ToTime, new { htmlAttributes = new { @class = "form-control", @Value = "16:30" } })
                            @Html.ValidationMessageFor(model => model.ToTime, "", new { @class = "text-danger" })
                        </td>


                        <td>
                            @Html.DropDownList("Reason", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Reason, "", new { @class = "text-danger" })
                        </td>

                        <td>
                            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })

                        </td>
                        <td>
                            @Html.EditorFor(model => model.Approved)
                            @Html.ValidationMessageFor(model => model.Approved, "", new { @class = "text-danger" })
                        </td>
                        
                    </tr>
                }




        </table>
       
      

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="CreatePerMonth" class="btn btn-default" />
                </div>
            </div>
        </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
